<div class="container bootstrap">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="bg-slate-50 dark:bg-gray-700 card border-0 shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4">Resend confirmation instructions</h2>
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="form-floating mb-3">
              <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
              <%= f.label :email, class: "form-label" %>
            </div>
            <div class="d-grid gap-2 mt-4">
              <%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer text-center py-3">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
