<!DOCTYPE html>
<html>
  <head>
    <title>Home warehouse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path "favicon/apple-touch-icon.png" %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path "favicon/favicon-32x32.png" %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path "favicon/favicon-16x16.png" %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# removed defer: true because toastr after sign in with omniauth not working %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render "layouts/navigation" %>
    <% if user_signed_in? %>
      <%= render "layouts/side" %>
    <% end %>
    <div class="bg-slate-50 dark:bg-gray-700 dark:text-white <%= user_signed_in? ? "p-4 sm:ml-64" : "col py-3" %>">
      <div class="p-4 mt-14 bootstrap">
        <%= flash_toastr %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
<script>
  // On page load or when changing themes, best to add inline in `head` to avoid FOUC
  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark');
  } else {
      document.documentElement.classList.remove('dark')
  }
</script>
